.home {
    min-height: 100vh;
    background: linear-gradient(-45deg,
      #a5afb5, 
      #a5afb5,
      #9a9b9c,
      #747d82, 
      #747678,
      #5f6263, 
      #43444A,
      #363738,
      black,
      black, 
      black,
      black,
      black);
	  background-size: 500% 500%;
	  animation: gradient 20s ease infinite;
}


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 115px;
    font-weight: 100;
  }

  h1::before {
    content: attr(data-content);
    color: #ebebeb;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
  }

  h1:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  @media all and (max-width: 1400px) {
    h1 {
        max-width: 1200px;
        font-size: 100px;
        }
}

@media all and (max-width: 1200px) {
    h1 {
        max-width: 1000px;
        font-size: 80px;
    }
}

@media all and (max-width: 1000px) {
    h1 {
        max-width: 850px;
        font-size: 75px;
    }
}

@media all and (max-width: 800px) {
    h1 {
        max-width: 700px;
        font-size: 65px;
    }
}