/* .html {
    background-color: transparent;
    z-index: 2;

} */

/* flex container */
.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
/* flex items */
.flex-nav li {
    flex: 3;
}
.flex-nav ul li .link {
    color:white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding:20px 0px 20px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
  }

  .flex-nav ul li .link:hover {
    background:rgba(0,0,0,0.3);
  }

@media all and (max-width: 1000px) {
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
        flex: 1 1 50%; /* flex grow and shrink set to one flex basis set to 50% */
    }
}

@media all and (max-width:500px) {
    .flex-nav li {
        flex-basis: 100%;
    }
}